<div class="accueil-container">
    <section class="hero">
        <div class="overlay">
            <div class="content">
                <div class="title-group">
                    <div class="paje">PAJE</div>
                    <div class="connect">Connect</div>
                </div>
                <h1>Rénovation intérieure sur mesure</h1>
                <p>Réinventez votre intérieur avec notre savoir-faire en rénovation</p>
                <a href="#explore" class="btn">Explorer</a>
            </div>
        </div>
    </section>

    <section class="service-container" id="explore">
        <div class="service-left">
            <h2>SARL PAJE spécialisé en rénovation d'intérieur dans le Nord-Pas-de-Calais.</h2>
            <p>SARL PAJE est une <span style="font-weight: bold">entreprise familiale</span>  créée en 1991.<br>
                Spécialisée dans l'aménagement ,la rénovation,
                l'électricité et autres travaux de plomberie.</p>
        </div>
        <div class="service-right">
            <ul>
                <li>
                    <div class="service-list-title">
                        <mat-icon>hourglass_bottom</mat-icon>
                        <h2>Expérience</h2>
                    </div>
                    <p>Avec 17 ans d’expérience, SARL PAJE met à votre service
                    son expertise dans les travaux du bâtiment.</p></li>

                <li>
                    <div class="service-list-title">
                        <mat-icon>groups</mat-icon>
                        <h2>Equipe compétente</h2>
                    </div>
                    <p>Une équipe dynamique et qualifiée au service de votre intérieur et/ou travaux de rénovation.</p></li>

                <li>
                    <div class="service-list-title">
                        <mat-icon>checklist</mat-icon>
                        <h2>Satisfaction</h2>
                    </div>
                    <p>Le souci du détail, l’obsession du travail bien fait et la satisfaction de nos clients est une
                        priorité !</p></li>

                <li>
                    <div class="service-list-title">
                        <mat-icon>event_available</mat-icon>
                        <h2>Ponctualité</h2>
                    </div>
                    <p>Nous nous engageons à respecter les délais fixés,
                    assurant ainsi la ponctualité.</p></li>

                <li>
                    <div class="service-list-title">
                        <mat-icon>build_circle</mat-icon>
                        <h2>Polyvalence</h2>
                    </div>
                    <p>Nous gérons tous types de travaux, de la préparation
                    à la finition, pour une prise en charge complète de votre chantier.</p></li>

                <li>
                    <div class="service-list-title">
                        <mat-icon>verified</mat-icon>
                        <h2>Exigence</h2>
                    </div>
                    <p>Nos réalisations sont conçues uniquement avec des matériaux de qualité.<br>
                        Nous sommes toujours à la recherche de matériaux innovants et écologiques.</p></li>

            </ul>
        </div>
    </section>


    <div class="wrapper">
        <div class="item item2"><img src="/images/accueil/salle_de_bain1.png" alt="Chantier 1"></div>
        <div class="item item3"><img src="/images/accueil/salle_de_bain2.jpg" alt="Chantier 1"></div>
        <div class="item item4"><img src="/images/accueil/salle_de_bain3.jpg" alt="Chantier 1"></div>
        <div class="item item6"><img src="/images/accueil/salle_de_bain4.jpg" alt="Chantier 1"></div>
        <div class="item item8"><img src="/images/accueil/salle_de_bain5.jpg" alt="Chantier 1"></div>
        <div class="item item7"><img src="/images/accueil/salle_de_bain6.jpg" alt="Chantier 1"></div>
        <div class="item item5"><img src="/images/accueil/cuisine1.jpg" alt="Chantier 1"></div>
        <div class="item item1"><img src="/images/accueil/chantier1.jpg" alt="Chantier 1"></div>
    </div>

    <div class="images">
        <img src="/images/accueil/cuisine1.jpg" alt="Chantier 1">
        <img src="/images/accueil/salle_de_bain1.png" alt="Salle de bain 1">
        <img src="/images/accueil/salle_de_bain2.jpg" alt="Chantier 1">
    </div>
</div>