.sidenav {
    background: var(--primary);
    transition: all 0.5s ease;
    position: fixed;
    z-index: 4;
    top: 0;
    width: 5rem;
    height: 100vh;
    box-shadow: 0.063rem 0 0.5rem 0 #74929c;
}

.logo-container {
    display: flex;
    align-items: center;
    padding: 0.938rem 0.938rem 0 0.938rem;
    width: 100%;

    .logo {
        background: #ffffff;
        text-align: center;
        width: 3rem;
        min-width: 3rem;
        min-height: 3rem;
        border-radius: 0.313rem;
        padding: 0.313rem;
        font-size: 24px;
        font-weight: 900;
        cursor: pointer;
        border: none;
    }

    .logo-text {
        margin-left: 1.5rem;
        max-height: 45px;
        font-size: 24px;
        font-weight: 700;
        color: #ffffff;
    }

    .btn-close {
        margin-left: auto;
        cursor: pointer;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: transparent;
        border: none;

        .fa-times {
            color: #ffffff;
        }
    }
}

.sidenav-collapsed {
    width: 16.5625rem;
}

.sidenav-nav {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0.938rem 0.938rem 0.938rem;
    height: calc(100% - 3rem);

    .sidenav-nav-item {
        width: 100%;
        margin-bottom: 0.625rem;
        cursor: pointer;

        .sidenav-nav-link {
            display: flex;
            align-items: center;
            height: 3rem;
            color: #f3f3f3;
            text-decoration: none;
            border-radius: 0.625rem;
            transition: all 0.3s ease;

            .sidenav-link-icon {
                font-size: 22px;
                width: 2rem;
                min-width: 2rem;
                margin: 0 0.5rem;
                text-align: center;
            }

            .sidenav-link-text {
                margin-left: 1.5rem;
            }
        }
    }

    .sidenav-nav-link:hover {
        background-color: #ffffff;
        color: var(--primary);

        .sidenav-link-icon {
            color: var(--primary);
        }

        .sidenav-link-text {
            color: var(--primary);
        }
    }

}

.spacer {
    flex: 1 1 auto;
}

.logo-icon,
.logo-mobile {
    display: none;
}

/*
@media (max-width: 768px) {
    .sidenav {
        width: 3rem;
    }

    .sidenav-collapsed {
        width: 13rem;
    }

    .logo-container {
        padding: 0.938rem 0.938rem 0 0.7rem;

        .logo {
            width: 1.5rem;
            min-width: 1.5rem;
            min-height: 1.5rem;

        }

        .logo-text img{
            max-height: 25px;
        }
    }

    .sidenav-nav {
        padding: 1rem 0.5rem 0.5rem 0.5rem;
        .sidenav-nav-item {
            margin-bottom: 1rem;

            .sidenav-nav-link {
                height: 1.5rem;

                .sidenav-link-icon {
                    margin: 0 0 0 0;
                }

                .sidenav-link-text {
                    margin-left: 0.5rem;
                }
            }
        }

        .sidenav-nav-item:hover {
            .sidenav-nav-link {
                background-color: #ffffff;
                color: var(--primary);
            }
        }
    }
}*/

/* Modifications pour la version mobile */
@media (max-width: 768px) {
    .sidenav {
        width: 100%;
        height: 5rem;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        background: var(--primary);
        display: flex;
    }

    .logo-container {
        justify-content: space-between;
        padding: 1rem 1rem;
    }

    .logo-img {
        display: none;
    }

    .logo-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        width: 2.4rem;
    }

    .logo-mobile {
        display: flex;
        width: 100px;
    }

    .btn-close {
        display: block;
    }

    .spacer {
        display: none;
    }

    .sidenav-nav {
        display: none;
    }

    .sidenav-nav-item {
        display: flex;
    }

    .sidenav .sidenav-link-icon {
        display: flex;
    }


    .sidenav-collapsed {
        display: flex;
        height: auto;
        width: 100%;
    }

    .sidenav-collapsed .sidenav-nav{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 10px;
        gap: 5%;
    }

    .sidenav-collapsed .sidenav-nav-item {
        display: flex;
        margin: 0.5rem 1.3rem 0.5rem 0.5rem;
        width: 40%;
        cursor: default;
    }

    .sidenav-collapsed .sidenav-nav-link {
        display: flex;
        align-items: center;
        padding: 0.5rem;
        font-size: 14px;
        color: #fff;
    }

    .sidenav-collapsed .sidenav-link-icon {
        display: flex;
    }

    .sidenav-collapsed .logo-mobile {
        display: none;
    }
}