html, body {
    height: 100%;
    margin: 0;
}

:host {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main-container {
    flex: 1;
    margin-left: 5rem;
    width: calc(100% - 5rem);
    background-color: #eceded;
}

@media (max-width: 768px) {
    /*.main-container {
        margin-left: 3rem;
        width: calc(100% - 3rem);
    }*/

    .main-container {
       margin-left: 0;
       width: 100%;
   }
}