.footer {
    background-color: var(--primary);
    color: white;
    padding: 2rem;
    font-size: 14px;
    width: calc(100% - 5rem);
    margin-left: 5rem;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 1rem;
}

.footer-section a {
    display: flex;
    align-items: center;
    color: #ecf0f1;
    gap: 0.5rem;
    text-decoration: none;
    margin: 0.5rem 0.3rem;
}

.footer-section a:hover {
    text-decoration: underline;
}

.copyright {
    display: flex;
    justify-content: center;
    width: 100%;
}

@media (max-width: 1024px) {
    .footer {
        padding: 1.5rem;
    }
}

@media (max-width: 768px) {
    /*.footer {
        width: calc(100% - 3rem);
        margin-left: 3rem;
    }*/
    .address,
    .social,
    .legal {
        display: flex;
        width: auto;
    }

    .footer-content {
        gap: 1rem;
    }

    .footer {
        padding: 1rem;
        width: 100%;
        margin-left: 0;
    }
}