<footer class="footer">
    <div class="footer-content">
        <div class="footer-section address">
            <a href="https://maps.app.goo.gl/knoHTTkRYPNc2TNo7" target="_blank">
                <mat-icon aria-hidden="true">place</mat-icon>
                33 rue verte, Marquion (62860), France
            </a>
        </div>

        <div class="footer-section social">
            <a href="https://www.facebook.com/profile.php?id=100065597555528" target="_blank">
                <mat-icon aria-hidden="true">facebook</mat-icon>
                <p>Facebook</p>
            </a>
        </div>
        <div class="footer-section legal">
            <h4><a href="/mentions-legales"><mat-icon aria-hidden="true">gavel</mat-icon>Mentions légales</a></h4>
        </div>
    </div>

    <div class="footer-section copyright">
        <p>&copy; 2025 SARL PAJE. Tous droits réservés.</p>
    </div>
</footer>