/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

html, body { height: 100%; scroll-behavior: smooth; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --primar: #496A7B;
    --primary: #1d3d4c;
    --secondary: #496A7B;
    --secondar: #1d3d4c;
    --white: #eceded;
}

@font-face {
    font-family: 'Palanquin';
    src: url('../public/fonts/PalanquinDark-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Colombo';
    src: url('../public/fonts/PostNoBillsColombo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../public/fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}